body {
  margin: 0;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

#navbar {
  border: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
  background: #efefef;
}

#content {
  border: 1px solid #aaa;
  padding: 0px;
  min-height: 600px;
}

#right {
  border-left: 1px solid #aaa;
  min-height: 600px;
}

/* Treehandling */
ul, .epochetree {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  margin-top: 2px;
}

ul li {
  padding: 0;
  margin: 0;
}

ul.works {
  margin-top: 0;
}

li.leave {
  padding-left: 10px;
}

li.node {
  margin-top: 2px;
}

.epochetree {
  margin: 0;
  padding: 0;
}
.caret, .hidden-caret {
  font-size: 0.8em;
}

.treetext {
  cursor: pointer;
  font-size: 1em;
}

.hidden-caret {
  opacity: 0;
}

.caret {
  cursor: pointer;
}

.worknode {
  font-size: 0.9em;
}

.worknode::before {
  content: "♫";
  font-size: 0.8em;
}
/* End of Treehandling */

table tr th, td {
  padding: 6px;
  border: 1px solid #4A4A4A;
}

table {
  margin-top: 4px;
}

th {
  background: #efefef;
}

p h2 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
}

h2 {
  font-size: 1.1em;
  font-weight:550;
  margin-bottom: 8px;
}

p a.button {
  margin-left: 16px;
}