<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link href="/static/styles/bulma.min.css" rel="stylesheet">
    <link href="/static/styles/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/static/scripts/vue.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/tree.js"></script>
</head>
<body>
    <nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand"></div>
        <a class="navbar-item" href="/">
          <img id="brand" src="/static/images/msmblack.png" alt="bild" height="32">
        </a>
      </div>
      <div class="navbar-menu">

      </div>
    </nav>
    <div class="section" id="content">
      <div class="columns is-gapless">
        <div class="column is-one-quarter-desktop" id="left">
          <div id="treewrapper" style="padding: 16px;">
            <h2>Tree Navigation</h2>
            <epoche-tree v-bind:epoches="treeData"></epoche-tree>
          </div>
        </div>
        <div class="column" id="right">
          <div id="rightwrapper" style="padding: 16px;">
              <h2>{{ .Title }}</h2>
              <div id="rightcontent"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
    window.onload = function () {
      var app = new Vue({
        el: '#content',
        created: function() {
          var that = this;
          getTreeInfos(function(res) {
            that.treeData=JSON.parse(res.responseText);
            console.log('here')
          });
        },
        data() {
          return {
            treeData : [],
          }
        }
      })
    }
    </script>
</body>
</html>